<mat-card>
    <mat-card-header>
        <app-flex-card-header>
            <mat-card-title>Universes</mat-card-title>
            
            <button mat-icon-button
            matTooltip="Create universe"
            type="button"
            [disabled]="this.loading"
            (click)="this.setUniverse()">
                <i class="fa-solid fa-plus"></i>
            </button>
        </app-flex-card-header>
    </mat-card-header>

    <mat-card-content>
        <table mat-table
        [dataSource]="this.dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let item">{{ item.name }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef width="180">Actions</th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button
                    matTooltip="Edit universe"
                    type="button"
                    [disabled]="this.loading"
                    (click)="this.setUniverse(item)">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>

                    <button mat-icon-button
                    matTooltip="Delete universe"
                    type="button"
                    [disabled]="this.loading"
                    (click)="this.deleteUniverse(item)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="this.cols"></tr>
            <tr mat-row *matRowDef="let row; columns: this.cols"></tr>
        </table>
    </mat-card-content>
</mat-card>