<mat-card>
    <mat-card-header>
        <mat-card-title>{{ this.character.name }}</mat-card-title>
        <mat-card-subtitle>Tag: {{ this.character.tag?.cod }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="picture"
        [class.empty]="true">

        </div>

        <div class="content">
            <div class="description">
                <p>{{ this.character.tag?.description }}</p>
            </div>

            <div class="actions">
                <a mat-raised-button
                color="accent"
                [routerLink]="this.character.tag?.cod">
                    <mat-icon>edit</mat-icon>
                    <span>Edit character</span>
                </a>
            </div>
        </div>
    </mat-card-content>
</mat-card>