<form
[formGroup]="this.form">
    <h2 mat-dialog-title>Create character</h2>

    <mat-dialog-content>
        <mat-grid-list [cols]="4" rowHeight="6rem">
            <mat-grid-tile FlexGridTile [smCol]="4" [mdCol]="2" [lgCol]="1">
                <mat-form-field>
                    <mat-label>Tag name</mat-label>
                    <input matInput
                    type="text"
                    formControlName="tag" />

                    <mat-hint>To attach with the character</mat-hint>
                    <mat-error>Minimum 3 characters</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile FlexGridTile [smCol]="4" [mdCol]="2" [lgCol]="3">
                <mat-form-field>
                    <mat-label>Character name</mat-label>
                    <input matInput
                    type="text"
                    formControlName="name" />

                    <mat-hint>Full name of the character</mat-hint>
                    <mat-error>Minimum 3 characters</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile FlexGridTile [mdCol]="4">
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput
                    formControlName="description">
                    </textarea>

                    <mat-hint>A description to attach into the character's tag</mat-hint>
                    <mat-error>Minimum 3 characters</mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-dialog-content>
</form>