<form
[formGroup]="this.form"
(ngSubmit)="this.save()">
    <h2 mat-dialog-title>Create character</h2>

    <mat-dialog-content>
        <mat-grid-list [cols]="6" rowHeight="6rem">
            <mat-grid-tile FlexGridTile [smCol]="6" [mdCol]="3" [lgCol]="2">
                <mat-form-field>
                    <mat-label>Tag name</mat-label>
                    <input matInput
                    appLowercase
                    type="text"
                    autocomplete="off"
                    appRegexBlur="[^0-9a-z_]"
                    formControlName="tag"
                    [onInput]="true"
                    [maxlength]="128" />

                    <mat-hint>Only letters, numbers and underscores</mat-hint>
                    <mat-error>Minimum 3 characters</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile FlexGridTile [smCol]="6" [mdCol]="3" [lgCol]="4">
                <mat-form-field>
                    <mat-label>Character name</mat-label>
                    <input matInput appTrim
                    type="text"
                    autocomplete="off"
                    formControlName="name"
                    [maxlength]="256" />

                    <mat-hint>Full name of the character</mat-hint>
                    <mat-error>Minimum 3 characters</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile FlexGridTile [mdCol]="6" [rowspan]="2">
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput appTrim
                    formControlName="description"
                    [rows]="6"
                    [style.resize]="'none'"
                    [maxlength]="1024">
                    </textarea>

                    <mat-hint>A description to attach into the character's tag</mat-hint>
                    <mat-error>Minimum 3 characters</mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-dialog-content>
        
    <mat-dialog-actions>
        <button mat-raised-button
        type="submit"
        color="warn"
        [disabled]="this.form.invalid">
            <mat-icon>save</mat-icon>
            <span>Save</span>
        </button>
        
        <button mat-raised-button
        type="button"
        color="primary"
        (click)="this.close()">
            <mat-icon>close</mat-icon>
            <span>Close</span>
        </button>
    </mat-dialog-actions>
</form>