<mat-toolbar>
    <button mat-button
    (click)="this.opened = true">
        <i class="fa-solid fa-bars"></i>
    </button>

    <a [routerLink]="'/'">
        Lore Builder
    </a>
</mat-toolbar>

<mat-sidenav-container
(backdropClick)="this.opened = false">
    <mat-sidenav
    [opened]="this.opened">
        <app-nav-bar
        (routerChange)="this.onRouteChange()">
        </app-nav-bar>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>