:host {
    mat-card-header {
        position: relative;

        .actions {
            position: absolute;
            right: 1rem;
            top: 1rem;

            button:not(:first-child) {
                margin-left: .5rem;
            }
        }
    }
}