<mat-grid-list
rowHeight="20rem"
gutterSize="1rem"
[cols]="2">
    <mat-grid-tile FlexGridTile
    [mdCol]="2" [lgCol]="1">
        <app-add-character
        (created)="this.ngOnInit()">
        </app-add-character>
    </mat-grid-tile>

    <mat-grid-tile FlexGridTile
    [mdCol]="2" [lgCol]="1"
    *ngFor="let character of this.characters">
        <app-character-card
        [character]="character">
            <a mat-raised-button
            color="accent"
            [routerLink]="character.tag?.cod">
                <mat-icon>edit</mat-icon>
                <span>Edit character</span>
            </a>
        </app-character-card>
    </mat-grid-tile>
</mat-grid-list>