<mat-card>
    <mat-card-header>
        <mat-card-title>{{ this.character?.name }}</mat-card-title>
        <mat-card-subtitle>Tag: {{ this.character?.tag?.cod }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="picture"
        [class.empty]="true">

        </div>

        <div class="content">
            <div class="description">
                <p>{{ this.character?.tag?.description }}</p>
            </div>

            <div class="actions">
                <ng-content>
                </ng-content>
            </div>
        </div>
    </mat-card-content>
</mat-card>