<div class="events">
    <mat-grid-list [cols]="2" rowHeight="20rem" gutterSize="1rem">
        <mat-grid-tile FlexGridTile
        [mdCol]="2">
            <app-character-card
            [character]="this.character">
            </app-character-card>
        </mat-grid-tile>

        <mat-grid-tile FlexGridTile
        [mdCol]="2" [lgCol]="1">
            <app-add-event
            [tag]="this.tag"
            (createdEvent)="this.ngOnInit()">
            </app-add-event>
        </mat-grid-tile>

        <mat-grid-tile FlexGridTile
        *ngFor="let event of this.events"
        [mdCol]="2" [lgCol]="1">
            <app-event
            [event]="event">
            </app-event>
        </mat-grid-tile>
    </mat-grid-list>
</div>